<template>
    <div class="main-container">
        <section class="main-menu">
            <section class="main-menu-head">
                <div class="info"> 안녕하세요 관리자님</div>
            </section>
            <section class="main-menu-list">
                <div class="main-home">Home</div>
                <div class="main-dash-board">Dash Board</div>
                <div class="main-service-management">서비스 관리</div>
                <div class="main-service-setting">서비스 설정</div>
                <div class="main-user-list">사용자 리스트</div>
                <div class="main-notice-board">게시판</div>
                <div class="main-page">페이지</div>
            </section>
        </section>
        <section class="main-header">
                <div class="info">Dash Board</div>
        </section>
        <section class="main-total-members">
            <div class="info">총 가입자 수</div>
        </section>
        <section class="main-notice">
            <div class="info">공지사항</div>
        </section>
        <section class="main-faq">
            <div class="info">문의사항</div>
        </section>
        <section class="main-members-list">
            <div class="info">사용자 리스트</div>
        </section>
    </div>
</template>

<script>

</script>
